<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :patient_id %><br>
    <%= f.text_field :patient_id %>
  </div>
  <div class="field">
    <%= f.label :time_period %><br>
    <%= f.text_field :time_period %>
  </div>
  <div class="field">
    <%= f.label :q1_rating %><br>
    <%= f.number_field :q1_rating %>
  </div>
  <div class="field">
    <%= f.label :q2_rating %><br>
    <%= f.number_field :q2_rating %>
  </div>
  <div class="field">
    <%= f.label :q3_rating %><br>
    <%= f.number_field :q3_rating %>
  </div>
  <div class="field">
    <%= f.label :q4_rating %><br>
    <%= f.number_field :q4_rating %>
  </div>
  <div class="field">
    <%= f.label :q5_rating %><br>
    <%= f.number_field :q5_rating %>
  </div>
  <div class="field">
    <%= f.label :q6_rating %><br>
    <%= f.number_field :q6_rating %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
