<!DOCTYPE html>
<html ng-app="myKnee">
<head>
  <title>MyKnee</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Paytone+One' rel='stylesheet' type='text/css'>
</head>
<body class="container body-contain">
	<%= render partial: "templates/navbar" %>

	<%= yield %>

</body>
</html>
